<template>
    <div id="app">
        <div v-if="notValid">Пожалуйста, вводите только цифры!</div>
        <br/>
        <br/>

        <div class="fraction" v-for="fraction in fractions">
            <input type="text" v-model="fraction.a" maxlength="2" @input="onInput(fraction.a)"/>
            <hr/>
            <input type="text" v-model="fraction.b" maxlength="2" @input="onInput(fraction.b)">
        </div>

        <div class="result">
            = {{ resultOut }}
        </div>

        <br/>
        <br/>
        <button type="button" class="add-fraction" :disabled="disabled" @click="addFraction">Добавить дробь</button>
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                fractions: [
                    {
                        a: 1,
                        b: 1,
                    },
                ],
                result: 0,
                disabled: false,
                pattern: /^[0-9]{1,2}$/,
                notValid: false,
                invalidOperation: false
            }
        },
        computed:{
            resultOut(){
                this.result = 0;
                for(let i = 0; i < this.fractions.length; i++){
                    this.result += this.fractions[i].a / this.fractions[i].b
                }
                return this.result;
            }
        },
        methods: {
            addFraction(){
                if (this.fractions.length < 6) {
                    this.fractions.push({a: 1, b: 1});
                }
                if(this.fractions.length > 5){
                    this.disabled = true;
                }
            },
            onInput(data){
                if(!this.pattern.test(data)){
                    this.notValid = true
                }
                else{
                    this.notValid = false
                }
            }
        }
    }
</script>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    * {
        box-sizing: border-box;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .fraction {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-left: 20px;
        width: 50px;
        &:first-of-type{
            &:before{
                display: none;
            }
        }
        input {
            max-width: 100%;
            height: 30px;
            background: rgba(0, 0, 0, .1);
            border: none;
            text-align: center;
        }
        hr {
            margin: 5px 0;
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, .5);
            border: none;
        }

        &:before{
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -10px;
            margin-left: 4px;
            content: "+";
            display: block;
            vertical-align: middle;
        }
    }

    .result {
        display: inline-block;
        vertical-align: middle;
    }
</style>
